body {
    background: #f1f3f6;
    font-family: 'Segoe UI', sans-serif;
}

header img {
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.book-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.table thead {
    color: green;

}

.table-hover tbody tr:hover {
    background-color: #f0f8ff;
}

.btn {
    border-radius: 30px;
    font-weight: 500;
    padding: 8px 16px;
}

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    background-color: #ffc107;
    color: #000;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

.btn-outline-info {
    color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-outline-info:hover {
    background-color: #0dcaf0;
    color: #000;
}

.btn-success,
.btn-primary,
.btn-dark {
    border-radius: 30px;
    font-weight: bold;
}

.img-thumbnail {
    border-radius: 10px;
    border: none;
}
