  .school-name{
            color: white;
            margin-left: 5px;
            font-size: 1.3rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            
        }
        
        
        
        
        .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-button {
    padding: 8px 12px;
    background-color: #22333b;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
     margin-top: 8px;
     font-size: 0.8rem;
     font-family: 'Poppins', sans-serif;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ffb845;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
 .attendance_dropdown {
    position: relative;
    border: none;
}

.attendance_dropdown-button {
    margin-top: 8px;
    background: none;          /* Removed background */
    border: none;
    padding: 8px 12px;
    font-size: 0.8rem;
    cursor: pointer;
   font-weight: 600;
    color: #ffb845;
    font-family: 'Poppins', sans-serif;
}

.attendance_dropdown-button:focus {
    outline: none;             /* Optional: removes outline when clicked */
}

.attendance_dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 4px;
}

.attendance_dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
     font-weight: bold;
   font-size: 0.8rem;
    color: #22333b;
}

.attendance_dropdown-content a:hover {
    background-color: #ffb845;
}

.attendance_dropdown:hover .attendance_dropdown-content {
    display: block;
}

  
  .logs_dropdown {
    position: relative;
    border: none;
}

.logs_dropdown-button {
    margin-top: 8px;
    background: none;          /* Removed background */
    border: none;
    padding: 8px 12px;
    font-size: 0.8rem;
    cursor: pointer;
   font-weight: 600;
    color: #22333b;
    font-family: 'Poppins', sans-serif;
}

.logs_dropdown-button:focus {
    outline: none;             /* Optional: removes outline when clicked */
}

.logs_dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    border-radius: 4px;
}

.logs_dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
     font-weight: bold;
   font-size: 0.8rem;
    color: #22333b;
}

.logs_dropdown-content a:hover {
    background-color: #ffb845;
}

.logs_dropdown:hover .logs_dropdown-content {
    display: block;
}
        
        
        
        
        
        .btn1{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #932c27;
        }
        
        .btn2{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #1f7a03;
        }
        .btn2:hover{
            color: #ffd700;
        }
        .btn3{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #932c27;
        }
        .btn3:hover{
            color: black;
        }
        .btn4{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #932c27;
        }
        .btn4:hover{
            color: black;
        }

        .school-name{
            color: red;
            margin-left: 5px;
            font-size: 1.3rem;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            
        }
        .btn0{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #22333b;
        }
        .btn0:hover{
            color: #ffd700;
        }
        
        .btn1{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #ffb845;
        }
        
        .btn2{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #22333b;
        }
        .btn2:hover{
            color: #ffb845;
        }
        .btn3{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #22333b;
        }
        .btn3:hover{
            color: #ffb845;
        }
        .btn4{
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 50px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: #22333b;
        }
        .btn4:hover{
            color: #ffb845;
        }
        
        .btn5{
            margin-right: 5rem;
            background-color: #22333b;
            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 10px;
            padding: 5px 15px;
            margin-top: 10px;
            transition: color 0.3s, transform 0.3s;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: white;
            border:none;
        }
        .btn5:hover{
            background-color: #ffb845;
            color: #22333b;
        }
        
        footer{
            background-color: #05014a;
            width: 100%;
            height: 4rem;
            padding: 1rem;

        }
        .a51-footer{
            text-align: center;
        }
       
        .a51-footer h1{
            font-family: 'Orbitron', sans-serif;
            font-weight: bold;
        }
        .com-name{
            color: #ffc107;
            font-weight: bold;
            font-size: 1.5rem;
            letter-spacing: 2px;


        }
        .qoute{
            font-size: 1rem;
            font-style: italic;
            color: #ccc;
        }
        
        .text-white.px-4.py-2.hover\:bg-yellow-400.transition.w-full {
    background-color: #932c27;
}

.in {
    background-color: green;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.875rem;
}

.out {
    background-color: #932c27;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    font-size: 0.875rem;
}

#lfpyss{
    color: #1f7902;
}

        /*end of header*/
        
        * {
    border-radius: 0 !important;
}

.btn-search{
    background-color: #1f7902;
    color: white;
    transition: color 0.3s, transform 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding: 10px;
    align-items: center;
}
.btn-search:hover{
    background-color: #1f7902;
    color: #ffe202;
}

/* Make Export buttons transparent and inherit text */
a.export-btn {
   
    color: black !important;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}
a.export-btn:hover {
    background-color: #ffe202;
    color: #932c27;
}

/* Remove background from form container */
.no-bg {
    background: none !important;
    box-shadow: none !important;
}
 