        .rounded-custom {
            border-radius: 20px;
            padding: 14px;
            font-size: 18px;
        }

        .login-title {
            font-size: 26px;
            color: #932c27;
        }

        .login-subtitle {
            font-size: 17px;
        }

        @media (max-width: 576px) {
            .login-title {
                font-size: 22px;
            }

            .login-subtitle {
                font-size: 15px;
            }

            .rounded-custom {
                font-size: 16px;
                padding: 12px;
            }

            .card {
                padding: 2rem 1rem !important;
            }
        }
        